/* Reset */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Title */
h2 {
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: white;
    font-weight: bold;
    cursor: pointer;
    button:active {
    transform: scale(0.98);
}
}

button:hover {
    background: #3a8be0;
}

/* Message */
#message {
    margin-top: 10px;
    font-size: 14px;
}